@model ShafaHRCoreLib.Models.Admin
@{
    ViewBag.Title = "پژوهشگران سلامت شفا";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card-box" style="padding: 30px">

    <div class="row">
        <div class="col-md-12" style="padding:15px;background-color: #367656">
            @Html.ActionLink("فهرست ادمین ", "Index", "Admin", null, new { style = "color: white;font-size: 14pt" })
            <span style="font-size: 8pt">&nbsp;&nbsp;>>&nbsp;&nbsp; </span>
            <span style="font-size: 14pt;color: #fff">تعریف ادمین جدید</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md 12" style="height:10px">
        </div>
    </div>

    @using (Html.BeginForm())
    {

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", id = "txtUserName" } })

                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Firstname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control", id = "txtFirstName" } })
                    @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control", id = "txtLastName" } })
                    @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                </div>
            </div>




            <div class="form-group">
                @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", id = "txtMobile" } })


                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.PasswordHash, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control", TextMode = "Password", id = "txtPassword" } })
                    @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-purple btn-trans waves-effect w-md waves-success m-b-5">ثبت</button>
                    <a class="btn btn-default btn-trans waves-effect w-md waves-default m-b-5" href="@Url.Action("Index", "Admin")">برگشت</a>
                    <img src="/assets/images/pleasewait.gif" id="loading" style="display: none" />
                    <label for="lblName" style="vertical-align: middle;" class="text-danger"></label>
                    <br />
                    <span style="color: green">@ViewBag.Message</span>
                </div>
            </div>
        </div>
    }

</div>


