@{
    
    ViewData["Title"] = "پژوهشگران سلامت شفا";
    Layout = "_LayoutRTL";
}

<!-- Bnner Section Two -->
<section class="banner-section-two">
    <div class="swiper banner-swiper">
        <div class="swiper-wrapper">

            <!-- Slide Item -->
            <div class="slide-item swiper-slide">
                <div class="bg bg-image" style="background-image: url(/RTL/images/main-slider/3-1.jpg); opacity: 0.3;"></div>
                <div class="auto-container">
                    <div class="content-outer">
                        <div class="content-box">
                            <div class="row clearfix">
                            <!-- Team Block -->
                            <div class="team-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp d-flex">

                                <div class="inner-box" style="width: 100%">
                                        <h4 class="p-4 fw-bolder bg-warning" >کتب</h4>
                                        <div id="myCarousel" class="carousel slide" style="background-color: #114e45;color: #000;min-height: 470px">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                           @*  @if (news_List != null)
                                            {
                                                int i = 0;
                                                foreach (News news_Loop in news_List)
                                                {
                                                    <li data-target="#myCarousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                                                    i += 1;
                                                }
                                            } *@
                                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner">
                                          @*   @if (news_List != null)
                                            {
                                                @foreach (News news_Loop in news_List)
                                                {
                                                    <div class="item @(news_Loop.Id == news_List.FirstOrDefault().Id ? "active" : "") ">
                                                        @if (news_Loop.ThumbnailId != null)
                                                        {
                                                            <a href="@Url.Action("Details", "News", new { news_Loop.Id })" title="@news_Loop.Title"><img src="@Url.Action("ShowFile", "File", new { Id = news_Loop.ThumbnailId })" style="height: 400px" /></a>
                                                        }
                                                        else
                                                        {
                                                            <a href="@Url.Action("Details", "News", new { news_Loop.Id })" title="@news_Loop.Title"><img src="/RTL/images/resource/team1.jpg" alt="انتشارات 1" style="width:100%;"></a>
                                                        }
                                                        <div class="carousel-caption" style="position: static;margin-bottom: 5px;">
                                                            <h5 class="shabnam"><a href="@Url.Action("Details", "News", new { news_Loop.Id })" title="@news_Loop.Title" class="text-white">@news_Loop.Title</a></h5>
                                                            <p class="shabnam text-white text-center">@CommonFunctions.GetPersianDate((DateTime)news_Loop.RecordCreated)</p>
                                                        </div>
                                                    </div>
                                                }
                                            } *@
                                            <div class="item active">
                                                    <a> <img src="/RTL/images/resource/team1.jpg" alt="کتب" style="height: 350px;width: 100%"></a>
                                                <div class="carousel-caption" style="position: static;margin-bottom: 5px;">
                                                    <h5 class="fs-3"><a href="" title="عنوان کتاب" class="text-white">عنوان کتاب</a></h5>
                                                    <p class="text-white text-center fs-3">1404/11/21</p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Left and right controls -->
                                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <!-- Team Block -->

                            <div class="team-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp d-flex">

                                <div class="inner-box" style="width: 100%">
                                        <h4 class="p-4 bg-info fw-bolder" >متون علمی</h4>
                                        <div id="myCarousel2" class="carousel slide" style="background-color: #114e45;color: white;min-height: 470px">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                          @*   @if (event_List != null)
                                            {
                                                int i = 0;
                                                foreach (Event event_Loop in event_List)
                                                {
                                                    <li data-target="#myCarousel2" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                                                    i += 1;
                                                }
                                            } *@
                                            <li data-target="#myCarousel2" data-slide-to="1" class="active"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner">
                                            @* @if (event_List != null)
                                            {
                                                @foreach (Event event_Loop in event_List)
                                                {
                                                    <div class="item @(event_Loop.Id == event_List.FirstOrDefault().Id ? "active" : "") ">
                                                        @if (event_Loop.ThumbnailId != null)
                                                        {
                                                            <a href="@Url.Action("Details", "Event", new { event_Loop.Id })" title="@event_Loop.Title">
                                                                <img src="@Url.Action("ShowFile", "File", new { Id = event_Loop.ThumbnailId })" style="height: 400px" />
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="@Url.Action("Details", "Event", new { event_Loop.Id })" title="@event_Loop.Title">
                                                                <img src="/RTL/images/resource/team3.jpg" alt="رویداد" style="width:100%;">
                                                            </a>
                                                        }
                                                        <div class="carousel-caption" style="position: static;margin-bottom: 5px;">
                                                            <h5 class="shabnam">
                                                                <a href="@Url.Action("Details", "Event", new { event_Loop.Id })" title="@event_Loop.Title" class="text-white">
                                                                    @event_Loop.Title
                                                                </a>
                                                            </h5>
                                                            <p class="shabnam text-white text-center">@CommonFunctions.GetPersianDate((DateTime)event_Loop.RecordCreated)</p>
                                                        </div>
                                                    </div>
                                                }
                                            } *@
                                            <div class="item active">
                                                    <img src="/RTL/images/resource/team2.jpg" alt="متون علمی" style="height:350px;width: 100%">
                                                <div class="carousel-caption" style="position: static;margin-bottom: 5px;">
                                                    <h5 class="fs-3">
                                                        <a href="" title="" class="text-white">
                                                            عنوان متون علمی
                                                        </a>
                                                    </h5>
                                                    <p class="text-white text-center fs-3">1404/02/01</p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Left and right controls -->
                                        <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <!-- Team Block -->

                            <div class="team-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp d-flex">

                                <div class="inner-box" style="width: 100%">
                                    <h4 class="p-4 bg-warning-subtle fw-bolder ">
                                        ژورنال واچ اپیدمیولوژی و آمار
                                    </h4>
                                        <div id="myCarousel3" class="carousel slide" style="background-color: #114e45;color: #000;min-height: 470px">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                           @*  @if (publication_List != null)
                                            {
                                                int i = 0;
                                                foreach (Publication publication_Loop in publication_List)
                                                {
                                                    <li data-target="#myCarousel3" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                                                    i += 1;
                                                }
                                            } *@
                                            <li data-target="#myCarousel3" data-slide-to="1" class="active"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner">
                                          @*   @if (event_List != null)
                                            {
                                                @foreach (Publication publication_Loop in publication_List)
                                                {
                                                    <div class="item @(publication_Loop.Id == publication_List.FirstOrDefault().Id ? "active" : "") ">
                                                        @if (publication_Loop.ThumbnailId != null)
                                                        {
                                                            <a href="@Url.Action("Details", "Publication", new { publication_Loop.Id })" title="@publication_Loop.Title">
                                                                <img src="@Url.Action("ShowFile", "File", new { Id = publication_Loop.ThumbnailId })" style="height: 400px" />
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="@Url.Action("Details", "Publication", new { publication_Loop.Id })" title="@publication_Loop.Title">
                                                                <img src="/RTL/images/resource/team3.jpg" alt="رویداد" style="width:100%;">
                                                            </a>
                                                        }
                                                        <div class="carousel-caption" style="position: static;margin-bottom: 5px;">
                                                            <h5 class="shabnam"><a href="@Url.Action("Details", "Publication", new { publication_Loop.Id })" title="@publication_Loop.Title" class="text-white">@publication_Loop.Title</a></h5>
                                                            <p class="shabnam text-white text-center">@CommonFunctions.GetPersianDate((DateTime)publication_Loop.RecordCreated)</p>
                                                        </div>
                                                    </div>
                                                }
                                            } *@
                                            <div class="item active">
                                                    <img src="/RTL/images/resource/team3.jpg" alt="ژورنال واچ اپیدمیولوژی و آمار" style="height: 350px;width: 100%">
                                                <div class="carousel-caption" style="position: static;margin-bottom: 5px;">
                                                    <h5 class="fs-3"><a href="" title="" class="text-white">عنوان ژورنال</a></h5>
                                                    <p class="text-white text-center fs-3">1404/03/03</p>
                                                </div>
                                                </div>
                                        </div>

                                        <!-- Left and right controls -->
                                        <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           
        </div>

      
    </div>
</section>
<!-- End Bnner Section -->

<!-- About Section Three -->
<section class="about-section-three" id="about">
    <div class="auto-container">
        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-7 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                       
                        <h2 >درباره ما</h2>
                        <p>پژوهشگران سلامت شفا...</p>
                    </div>
                    <div class="about-owner">
                        <h4 class="name">دکتر فرشید علاء الدینی</h4>
                        <span class="designation">مدیر عامل</span>
                    </div>
                </div>
            </div>

            <!-- Images Column -->
            <div class="image-column col-lg-5 col-md-12 col-sm-12">
                <div class="image-box">
                    <figure class="image"><img src="/rtl/images/resource/image-6.jpg" alt=""></figure>
                </div>
            </div>
            

          
        </div>
    </div>
</section>
<!-- End About Section Three -->

<!-- Fun Fact Section Three-->
<section class="fun-fact-section-three">
    <div class="auto-container">
        <div class="background-layer"></div>
        <div class="row">
            <!--Column-->
            <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="count-box">
                    <div class="icon-box"><span class="icon flaticon-user-experience"></span></div>
                    <span class="count-text" data-speed="3000" data-stop="25">0</span>
                    <h4 class="counter-title">متون علمی</h4>
                </div>
            </div>

            <!--Column-->
            <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="count-box">
                    <div class="icon-box"><span class="icon flaticon-team"></span></div>
                    <span class="count-text" data-speed="3000" data-stop="470">0</span>
                    <h4 class="counter-title">تیم علمی</h4>
                </div>
            </div>

            <!--Column-->
            <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="count-box">
                    <div class="icon-box"><span class="icon flaticon-hospital"></span></div>
                    <span class="count-text" data-speed="3000" data-stop="20">0</span>
                    <h4 class="counter-title">سازمان های طرف قرارداد</h4>
                </div>
            </div>

            <!--Column-->
            <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
                <div class="count-box">
                    <div class="icon-box"><span class="icon flaticon-add-friend"></span></div>
                    <span class="count-text" data-speed="3000" data-stop="60">0</span>
                    <h4 class="counter-title">طرح های در دست اجرا</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fun Fact Section Three -->


<!-- Testimonial Section -->
<section class="testimonial-section-two" id="Projects">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title text-center">
            <h2>طرح های در دست ساخت</h2>
            
        </div>

        <div class="testimonial-outer">
            <div class="client-thumb-outer">

                <div class="swiper testi-thumbs-swiper">
                    <div class="swiper-wrapper">

                        <!-- Thumb Item -->
                        <div class="thumb-item swiper-slide">
                            <figure class="thumb-box"><img src="/rtl/images/resource/t1.jpg" alt=""></figure>
                            <div class="author-info">
                                <span class="icon fa fa-quote-left"></span>
                                <div class="author-name">عنوان طرح</div>
                                <div class="designation">توضیح</div>
                            </div>
                        </div>

                        <!-- Thumb Item -->
                        <div class="thumb-item swiper-slide">
                            <figure class="thumb-box"><img src="/rtl/images/resource/t2.jpg" alt=""></figure>
                            <div class="author-info">
                                <span class="icon fa fa-quote-left"></span>
                                <div class="author-name">عنوان طرح</div>
                                <div class="designation">توضیح</div>
                            </div>
                        </div>

                        <!-- Thumb Item -->
                        <div class="thumb-item swiper-slide">
                            <figure class="thumb-box"><img src="/rtl/images/resource/t1.jpg" alt=""></figure>
                            <div class="author-info">
                                <span class="icon fa fa-quote-left"></span>
                                <div class="author-name">عنوان طرح</div>
                                <div class="designation">توضیح</div>
                            </div>
                        </div>

                      
                    </div>
                </div>
            </div>

            <!-- Client Testimonial Carousel -->
            <div class="swiper testi-content-swiper">
                <div class="swiper-wrapper">

                    <!--Testimonial Block -->
                    <div class="testimonial-block swiper-slide">
                        <div class="inner-box">
                            <div class="text">شرح 1</div>
                        </div>
                    </div>

                    <!--Testimonial Block -->
                    <div class="testimonial-block swiper-slide">
                        <div class="inner-box">
                            <div class="text">شرح 2</div>
                        </div>
                    </div>

                    <!--Testimonial Block -->
                    <div class="testimonial-block swiper-slide">
                        <div class="inner-box">
                            <div class="text">شرح 3</div>
                        </div>
                    </div>

                   

                  
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>

      
    </div>
</section>
<!-- End Testimonial Section -->

<!-- Clients Section -->
<section class="clients-section" id="Organizations">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>سازمان های طرف قرارداد</h2>

        </div>
        <div class="swiper client-swiper">
            <div class="swiper-wrapper">
               
                <!-- Client Block -->
                <div class="client-block swiper-slide">
                    <div class="inner-box">
                        <figure class="image"><a href="#"><img src="/RTL/images/clients/1.png" alt="Image"></a></figure>
                    </div>
                </div>

                <!-- Client Block -->
                <div class="client-block swiper-slide">
                    <div class="inner-box">
                        <figure class="image"><a href="#"><img src="/RTL/images/clients/1.png" alt="Image"></a></figure>
                    </div>
                </div>

                <!-- Client Block -->
                <div class="client-block swiper-slide">
                    <div class="inner-box">
                        <figure class="image"><a href="#"><img src="/RTL/images/clients/1.png" alt="Image"></a></figure>
                    </div>
                </div>

                <!-- Client Block -->
                <div class="client-block swiper-slide">
                    <div class="inner-box">
                        <figure class="image"><a href="#"><img src="/RTL/images/clients/1.png" alt="Image"></a></figure>
                    </div>
                </div>

                <!-- Client Block -->
                <div class="client-block swiper-slide">
                    <div class="inner-box">
                        <figure class="image"><a href="#"><img src="/RTL/images/clients/1.png" alt="Image"></a></figure>
                    </div>
                </div>

                <!-- Client Block -->
                <div class="client-block swiper-slide">
                    <div class="inner-box">
                        <figure class="image"><a href="#"><img src="/RTL/images/clients/1.png" alt="Image"></a></figure>
                    </div>
                </div>

                <!-- Client Block -->
                <div class="client-block swiper-slide">
                    <div class="inner-box">
                        <figure class="image"><a href="#"><img src="/RTL/images/clients/1.png" alt="Image"></a></figure>
                    </div>
                </div>

                <!-- Client Block -->
                <div class="client-block swiper-slide">
                    <div class="inner-box">
                        <figure class="image"><a href="#"><img src="/RTL/images/clients/1.png" alt="Image"></a></figure>
                    </div>
                </div>

                <!-- Client Block -->
                <div class="client-block swiper-slide">
                    <div class="inner-box">
                        <figure class="image"><a href="#"><img src="/RTL/images/clients/1.png" alt="Image"></a></figure>
                    </div>
                </div>

                <!-- Client Block -->
                <div class="client-block swiper-slide">
                    <div class="inner-box">
                        <figure class="image"><a href="#"><img src="/RTL/images/clients/1.png" alt="Image"></a></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Clients Section -->
