@using ShafaHRCoreLib.Managers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>پژوهشگران سلامت شفا</title>

    <!-- Stylesheets -->
    <link href="/RTL/css/bootstrap.css" rel="stylesheet">
    <link href="/RTL/css/style.css" rel="stylesheet">
    <link href="/RTL/css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="/RTL/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/RTL/images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
    <link href="/RTL/css/jquery.modal.min.css" rel="stylesheet" />

    <script src="/RTL/js/jquery-3.7.1.min.js"></script>
    <script src="/RTL/js/bootstrap-3.4.1.min.js"></script>
    <link href="/RTL/css/bootstrap-3.4.1.min.css" rel="stylesheet" />
</head>

<body class="rtl">

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header-->
        <header class="main-header header-style-three">

            <!-- Header top -->
            <div class="header-top-three">
                <div class="auto-container">
                    <div class="inner-container">
                        <div class="top-left">
                            <div class="logo"><a href="@Url.Action("Index", "Home")"><img src="/RTL/images/logo.png" alt="" title=""></a></div>
                        </div>
                        <div class="top-right">
                            <ul class="social-icon-one light text-white">
                                <li><a href="@Url.Action("Index","Home")" style="width: 60px" >خانه</a></li>|
                                
                                <li><a href="#ContactUs" style="width: 100px">اطلاعات تماس</a></li>
                              @*   <li><i class="flaticon-pie-chart fw-bold fs-5"></i>داشبورد من</li>
                                <li><i class="flaticon-user-experience fw-bold fs-5"></i>نام کاربر</li> *@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Top -->
            <!-- Header Lower -->
            <div class="header-lower">
                <div class="auto-container">
                    <!-- Main box -->
                    <div class="main-box">
                        <div class="logo-box">
                            <div class="logo"><a href="index.html"><img src="images/logo-6.png" alt="" title=""></a></div>
                        </div>
                        <!--Nav Box-->
                        <div class="nav-outer">
                            <nav class="nav main-menu">
                                <ul class="navigation" id="navbar">
                                    <li class="current"><a href="@Url.Action("Details", "Page", new { Code = "1" })" class="text-black">درباره ما</a></li>
                                    <li>
                                        <span><a href="@Url.Action("Details", "Page", new { Code = "2" })" class="text-black">تیم علمی</a></span>
                                    </li>
                                    <li >
                                        <span><a href="@Url.Action("Details", "Page", new { Code = "3" })" class="text-black">سازمان های طرف قرارداد</a></span>
                                    </li>

                                    <li class="dropdown">
                                        <span>طرح ها</span>
                                      <ul>
                                            <li><a>در دست اجرا</a></li>
                                            <li><a>خاتمه یافته</a></li>
                                      </ul>
                                    </li>
                                    <li class="dropdown">
                                        <span>انتشارات</span>
                                        <ul>
                                            <li><a>متون علمی</a></li>
                                            <li><a>کتب</a></li>
                                            <li><a href="">خبرنامه</a></li>
                                            <li>
                                                <a href="">
                                                    گزیده خلاصه مقالات اپیدمیولوژی و آمار
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                   
                                   
                                </ul>
                            </nav>
                            <!-- Main Menu End-->

                           
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sticky Header  -->
            <div class="sticky-header">
                <div class="auto-container">
                    <div class="main-box">
                        <div class="logo-box">
                            <div class="logo"><a href="index.html"><img src="/RTL/images/logo.png" alt="" title=""></a></div>
                        </div>

                        <!--Keep This Empty / Menu will come through Javascript-->
                    </div>
                </div>
            </div><!-- End Sticky Menu -->
            <!-- Mobile Header -->
            <div class="mobile-header">
                <div class="logo"><a href="index.html"><img src="/RTL/images/logo-4.png" alt="" title=""></a></div>

                <!--Nav Box-->
                <div class="nav-outer clearfix">

                    <div class="outer-box">
                        <!-- Search Btn -->
                        <div class="search-box">
                            <button class="search-btn mobile-search-btn"><i class="flaticon-magnifying-glass"></i></button>
                        </div>

                        <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="fa fa-bars"></span></a>
                    </div>
                </div>
            </div>

            <!-- Mobile Nav -->
            <div id="nav-mobile"></div>

            <!-- Header Search -->
            <div class="search-popup">
                <span class="search-back-drop"></span>
                <button class="close-search"><span class="fa fa-times"></span></button>

                <div class="search-inner">
                    <form method="post" action="blog-showcase.html">
                        <div class="form-group">
                            <input type="search" name="search-field" value="" placeholder="Search..." required="">
                            <button type="submit"><i class="flaticon-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Header Search -->
        </header>
        <!--End Main Header -->
        @RenderBody()
        <!-- Main Footer -->
        <footer class="main-footer style-three" id="ContactUs">
            <!--Widgets Section-->
            <div class="widgets-section" style="background-image: url(/RTL/images/background/bg-footer.jpg);">
                <div class="auto-container">
                    <div class="row">
                        <!--Big Column-->
                        <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <!--Big Column-->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="row">
                                        <!--Footer Column-->
                                        <div class="footer-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                            <div class="footer-widget about-widget">

                                                <div class="text">

                                                    <p>
                                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d572.6857940569948!2d51.406915002655886!3d35.711458074018104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e0114804ce6b1%3A0xef2337025f6d4dab!2sTehran%20Province%2C%20Tehran%2C%20District%206%2C%20Valiasr%20Sq%2C%20Iran!5e0!3m2!1sen!2s!4v1764142978925!5m2!1sen!2s" width="350" height="210" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <!--Big Column-->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="row">

                                        <div class="footer-column col-lg-1 col-md-1 col-sm-1"></div>

                                        <!--Footer Column-->
                                        <div class="footer-column col-lg-11 col-md-11 col-sm-11">
                                            <!--Footer Column-->
                                            <div class="footer-widget contact-widget shabnam">
                                                <h2 class="widget-title">اطلاعات تماس</h2>
                                                <!--Footer Column-->
                                                <div class="widget-content">
                                                    <ul class="contact-list">

                                                        <li>
                                                            <span class="icon flaticon-placeholder"></span>
                                                            <div class="text">تهران، میدان ولیعصر، مجتمع تجارت ایرانیان، ورودی A، طبقه 5، واحد 14 
                                                                <br />
                                                                کد پستی 1593833548</div>
                                                        </li>

                                                        <li>
                                                            <span class="icon flaticon-call-1"></span>
                                                            <div class="text">
                                                                شماره تماس<br>
                                                                <a href="tel:02188929888">88929888 021</a>
                                                            </div>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                    </div>
                </div>
            </div>

            <!--Footer Bottom-->
            <div class="footer-bottom">
                <!-- Scroll To Top -->
                <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

                <div class="auto-container">
                    <div class="inner-container clearfix">
                        <div class="footer-nav">
                            <ul class="clearfix">
                               
                            </ul>
                        </div>

                        <div class="copyright-text">
                            <p>© @CommonFunctions.GetPersianDate(DateTime.Now).Substring(0, 4) پژوهشگران سلامت شفا،  تمامی حقوق وب سایت محفوظ است.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Main Footer -->

    </div><!-- End Page Wrapper -->

    <script src="/RTL/js/jquery.js"></script>
    <script src="/RTL/js/popper.min.js"></script>
    <script src="/RTL/js/bootstrap.min.js"></script>
    <script src="/RTL/js/jquery.fancybox.js"></script>
    <script src="/RTL/js/jquery.modal.min.js"></script>
    <script src="/RTL/js/mmenu.polyfills.js"></script>
    <script src="/RTL/js/mmenu.js"></script>
    <script src="/RTL/js/appear.js"></script>
    <script src="/RTL/js/mixitup.js"></script>
    <script src="/RTL/js/swiper.js"></script>
    <script src="/RTL/js/wow.js"></script>
    <script src="/RTL/js/gsap.min.js"></script>
    <script src="/RTL/js/ScrollTrigger.min.js"></script>
    <script src="/RTL/js/splitType.js"></script>
    <script src="/RTL/js/script.js"></script>

    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>


